.flexbox {
    display: flex;
    border: 2px solid rgb(190, 190, 4);
    padding: 20px;
}

.item {
    border: 2px solid green;
    padding: 20px;
}

#box1 {
    justify-content: space-evenly;
    background: gray; 
}

#box2, #box3, #box4 {
    justify-content: center;
}

#box3 {
    background: lightgray;
}

#innerbox4 {
    background: lightblue
}