.flexbox {
    display: flex;
    padding: 20px;
}

.item {
   
    padding: 20px;
}

#box1 {
    justify-content: space-evenly;
    background: gray; 
}

#box2, #box3, #box4 {
    justify-content: center;
}

#box3 {
    background: lightgray;
}

#innerbox4 {
    background: lightblue;
    align-items: center;
}